@mixin sectionStyle {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin pageWrapperStyle {
    display: inline-block;
    background-color: white;
    width: 50%;
    min-height: 498px;
    border: none;
    outline: none;
    border-radius: 40px;
}

@mixin contentSection {
    width: 870px;
    min-height: 498px;
}