$textColor: rgb(103, 136, 136);
$backgroundColor: linear-gradient( 90deg, hsla(159, 82%, 55%, 1),
hsla(168, 71%, 51%, 1),
hsla(176, 73%, 46%, 1),
hsla(186, 78%, 45%, 1),
hsla(194, 86%, 46%, 1),
hsla(200, 92%, 47%, 1),
hsla(206, 98%, 48%, 1));
$blueBoxShadow: 7px 7px rgb(157, 180, 245);